# Pin top-level docs requirements for ReadTheDocs
# Use pip-compile docs.in to generate the pinned version with the transitive dependencies
sphinx == 5.0.2
sphinx_rtd_theme==1.1.1
sphinx-notfound-page==1.0.2